*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.content {
    display: grid;  
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-rows: 1fr 6fr;
    /* align-items: center;   */
    justify-items: center;
    
}

.header {
    height: 100px;
    background: #FFFFFF;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.title {
    /* color:#0f766e; */
    font-weight: 600;
    font-size: 32px;
    padding-left: 12px; 
}

/* .controls {
    padding: 20px
} */

.container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 1fr;
    align-items: center;
    background: #E5E7EB;
    width: 40%;
    border-radius: 8px;
    justify-items: center;
}

.score {
    display: flex;
    justify-content: space-around;
}

.player-score {
    margin: 0 40px;
}

.main {
    /* grid-row: 3 / 4; */
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
}

.board {
    /* width: 300px; */
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    
}

.grid {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    opacity: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid p {
    font-size: 36px;
}

button {
    /* margin-left: 20px; */
    border: none;
    /* background: none; */
    background-color: #0f766e;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}

.display-element {
    display: none;
}